.movie-trailer p {
	font-size: 1.7rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

.movie-trailer__spinner,
.movie-trailer__message {
	margin-top: 3rem;
}

.movie-trailer__spinner svg {
	width: 4rem;
	height: 4rem;
}

.movie-trailer__message svg {
	width: 5rem;
	height: 5rem;
}

.movie-trailer__message p {
	font-size: 1.5rem;
}

.movie-trailer__video {
	display: flex;
	justify-content: center;
}

.movie-trailer__video iframe {
	width: 560px;
	height: 315px;
}

@media only screen and (max-width: 992px) {
	.movie-trailer p {
		font-size: 2rem;
	}

	.movie-trailer__video iframe {
		width: 400px;
		height: 250px;
	}

	.movie-trailer__message svg {
		width: 4.5rem;
		height: 4.5rem;
	}

	.movie-trailer__message p {
		font-size: 1.8rem;
	}
}

@media only screen and (max-width: 576px) {
	.movie-trailer__video iframe {
		width: 350px;
		height: 250px;
	}
}

@media only screen and (max-width: 400px) {
	.movie-trailer p {
		font-size: 1.8rem;
	}

	.movie-trailer__spinner svg {
		width: 3.5rem;
		height: 3.5rem;
	}

	.movie-trailer__video iframe {
		width: 275px;
		height: 175px;
	}

	.movie-trailer__message svg {
		width: 4rem;
		height: 4rem;
	}

	.movie-trailer__message p {
		font-size: 1.6rem;
	}
}

@media only screen and (max-width: 320px) {
	.movie-trailer__video iframe {
		width: 225px;
		height: 175px;
	}
}
