.movies-page {
	position: relative;

	grid-column: content-start / content-end;
}

.movies-page__top {
	display: flex;
	justify-content: space-between;

	font-size: 1.7rem;
	margin-bottom: 5rem;
}

.movies-page__select-type,
.movies-page__select-genre {
	display: flex;
	align-items: center;
}

.movies-page__select-type label,
.movies-page__select-genre label {
	font-weight: 700;
	margin-right: 1rem;
}

.movies-page__select-type select,
.movies-page__select-genre select {
	font: inherit;
	padding: 0.5rem;
	border: 1px solid var(--color-black);
	border-radius: 3px;
	transition: all 0.2s;
}

.movies-page__select-type select {
	width: 12.5rem;
}

.movies-page__select-genre select {
	width: 20rem;
}

.movies-page__select-type select:focus,
.movies-page__select-genre select:focus {
	outline: 1px solid var(--color-black);
}

@media only screen and (max-width: 400px) {
	.movies-page__top {
		flex-direction: column;
		align-items: center;
	}

	.movies-page__select-type {
		margin-bottom: 2rem;
	}
}
