.movies-list {
	display: grid;
	grid-template-columns: repeat(4, 27.5rem);
	gap: 5rem;
	justify-content: center;
	place-items: stretch;

	list-style: none;
	margin-bottom: 5rem;
}

@media only screen and (max-width: 1400px) {
	.movies-list {
		grid-template-columns: repeat(4, 24rem);
	}
}

@media only screen and (max-width: 1200px) {
	.movies-list {
		grid-template-columns: repeat(3, 27.5rem);
	}
}

@media only screen and (max-width: 992px) {
	.movies-list {
		grid-template-columns: repeat(3, 25rem);
	}
}

@media only screen and (max-width: 768px) {
	.movies-list {
		grid-template-columns: repeat(2, 28.5rem);
	}
}

@media only screen and (max-width: 576px) {
	.movies-list {
		grid-template-columns: 45rem;
		justify-content: center;
	}
}

@media only screen and (max-width: 400px) {
	.movies-list {
		grid-template-columns: 35rem;
	}
}

@media only screen and (max-width: 320px) {
	.movies-list {
		grid-template-columns: 27.5rem;
	}
}
