.movies-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 5rem;
	place-items: stretch;

	list-style: none;
	margin-bottom: 5rem;
}

@media only screen and (max-width: 576px) {
	.movies-list {
		grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
	}
}
