.movies-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	gap: 5rem;
	place-items: stretch;

	list-style: none;
	margin-bottom: 5rem;
}

@media only screen and (max-width: 992px) {
	.movies-list {
		grid-template-columns: repeat(auto-fit, minmax(27.5rem, 1fr));
	}
}

@media only screen and (max-width: 576px) {
	.movies-list {
		grid-template-columns: 45rem;
		justify-content: center;
	}
}

@media only screen and (max-width: 400px) {
	.movies-list {
		grid-template-columns: 35rem;
	}
}

@media only screen and (max-width: 320px) {
	.movies-list {
		grid-template-columns: 27.5rem;
	}
}
